<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Lovers</title>
</head>
<body>
	<div>
		<form action='/form' method='post'>	
			<input type='text' name='message'>
			<input type='submit' name='submit'>
		</form>
	</div>
	
</body>
</html>